@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&display=swap');

h1 {
    font-size: var(--h1-font-size);
}

h2 {
    font-size: var(--h2-font-size);
    text-align: center;
    padding-top: var(--spacing-sm);
    font-family: 'EB Garamond', serif;
    font-weight: 400;
    color: white;
}

.bold2000 {
    font-weight: 800;
    font-family: Lato, serif;
}

h3 {
    text-align: center;
}

.mt4Title {
    text-align: center;
    font-family: Cambria, serif;
    color: white;
}

.mt4Slogan {
    font-family: 'Playwrite GB S', sans-serif;
    font-style: italic;
    color: var(--base-text-color);
}

.imageContainer {
    width: 85vw;
    height: 500px;
    margin: 100px auto;
    position: relative;
    border: 5px solid var(--base-bg-color);
    border-radius: 10px;
    box-shadow: 10px 10px 10px;
    overflow: hidden;
}

.imageContainer button {
    width: 80px;
    height: 80px;
    border-radius: 50px;
    position: absolute;
    margin: 0 5px;
    opacity: 75%;

}

.imageContainer  button:nth-child(1) {
    top: 45%;
    background-color: var(--accent-primary);
}

.imageContainer  button:nth-child(3) {
    top: 45%;
    right: 0;
    background-color: var(--accent-primary);
}

.imageScroller {
    display: flex;
    flex-direction: row;
}
.imageContainer .imageScroller img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}
