.App{
    position: relative;
}
.backgroundCircle {
    position: absolute;
    height: 500px;
    width: 95vw;
    border-radius: 0 0 1000px 0;
    top: 0;
    left: 0;
    background-color: var(--accent-primary);
    z-index: -1;
    opacity: 50%;
}
