* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
:root {
/*  Base Colors  */
  --base-bg-color: #3783c6;
  --base-text-color: #72b5d6;
  --base-bg-color-2: #003f5c;

  /* Accent Colors  */
  --accent-primary: #83b3f4;
 --accent-secondary: #ffb703;
--accent-secondary-dark: #fb8500;

/*  Borders  */
  --border-radius: 10px;

/*  Spacing System  */
  --spacing-xxs: 4px;
  --spacing-xs: 8px;
  --spacing-sm: 16px;
  --spacing-md: 24px;
  --spacing-lg: 32px;
  --spacing-xl: 48px;
  --spacing-xxl: 64px;

  --h1-font-size: clamp(48px, 5vw, 64px); /* Min 24px, scales with 5vw, max 40px */
  --h2-font-size: clamp(32px, 5vw, 50px);
  --p-font-size: clamp(20px, 3vw, 28px);
}